body {
	font-family: monospace;
	margin: 3em auto;
}

a:link,
a:visited {
	color: #3399cc;
	text-decoration: none;
}
a:hover {
	color: #3399cc;
	text-decoration: underline;
}

dl {
	margin: 2em 0em;
}
dd {
	margin: 0.8em 3em;
}
dt {
	margin-top: 1.5em;
	font-weight: bold;
}

ol, ul {
	list-style: square;
	list-style-position: inside;
}

p {
	margin: 1em 0;
}

pre {
	margin: 0.2em;
}

footer {
	text-align: center;
}
